.content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-content__group {
    width: 100%;
}

.group-label {
    width: 100%;
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.group-input {
    width: 100%;
    height: 45px;
    display: block;
}

.form-content__button {
    display: block;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.form-sub {
    text-align: center;
}

.form-sub__button {
    width: 100%;
    display: block;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 90%;
        padding: 20px;
    }

    .form-content {
        gap: 16px;
    }

    .group-label {
        font-size: 14px;
    }

    .group-input {
        height: 40px;
        font-size: 14px;
    }

    .form-content__button {
        font-size: 24px;
        padding: 10px 0;
    }

    .form-sub {
        font-size: 14px;
        margin-top: 30px;
    }

    .form-sub__button {
        font-size: 14px;
        padding: 10px 0;
    }

    .error-messages {
        font-size: 13px;
        color: red;
        padding-left: 10px;
    }
}